---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

hr {
	border: none;
	height: 1.3px;
	background: #ddd;
}

code {
	color: #00B27D;
	font-family: "Roboto Mono", Menlo, monospace;
	font-size: 1.1rem;
}

pre {
	tab-size: 2;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "syntax";
@import "panel";
